{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Biz haqimizda</h1>
            <span>Bizning 20 yillik tajribamiz bor</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <h2>Bizning<em> kompaniyamiz</em> bilan tanishing</h2>
                    <p>Biron bir matn</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/about-1-570x350.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Biz haqimizda</span>
              <h2>Mashinalar va haridorlar</em></h2>
              <p>Biron bir matn.</p>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">10</div>
                  <div class="count-title">Operatorlar</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">{{profile.all.count}}</div>
                  <div class="count-title">Hursand mijozlar</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">{{product.all.count}}</div>
                  <div class="count-title">Mashinalar</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">{{selled_products.all.count}}</div>
                  <div class="count-title">Sotilgan mashinalar</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
{% endblock %}