{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>FAQ</h1>
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="more-info-content">
          <div class="right-content">
            <span>A) Lorem ipsum dolor sit amet</span>
            <h5><i class="fa fa-question-circle"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iure ?</h5>
            <br>  
            <p>Fusce nec ultrices lectus. Duis nec scelerisque risus. Ut id tempor turpis, ac dignissim ipsum. Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem. Pellentesque in sagittis lacus, vel auctor sem. Quisque eu quam eleifend, ullamcorper dui nec, luctus quam.</p>

            <br>

            <span>A) Lorem ipsum dolor sit amet</span>
            <h5><i class="fa fa-question-circle"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iure ?</h5>
            <br>  
            <p>Fusce nec ultrices lectus. Duis nec scelerisque risus. Ut id tempor turpis, ac dignissim ipsum. Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem. Pellentesque in sagittis lacus, vel auctor sem. Quisque eu quam eleifend, ullamcorper dui nec, luctus quam.</p>

            <br>

            <span>A) Lorem ipsum dolor sit amet</span>
            <h5><i class="fa fa-question-circle"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iure ?</h5>
            <br>  
            <p>Fusce nec ultrices lectus. Duis nec scelerisque risus. Ut id tempor turpis, ac dignissim ipsum. Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem. Pellentesque in sagittis lacus, vel auctor sem. Quisque eu quam eleifend, ullamcorper dui nec, luctus quam.</p>

            <br>

            <span>A) Lorem ipsum dolor sit amet</span>
            <h5><i class="fa fa-question-circle"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, iure ?</h5>
            <br>  
            <p>Fusce nec ultrices lectus. Duis nec scelerisque risus. Ut id tempor turpis, ac dignissim ipsum. Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem. Pellentesque in sagittis lacus, vel auctor sem. Quisque eu quam eleifend, ullamcorper dui nec, luctus quam.</p>

            <br>  
            <br>  
            <br>  
            <br>  
          </div>
        </div>
      </div>
    </div>

{% endblock %}